In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot

In [2]:
#create path to csv file:
hygiene_path=path('Resources\Hygiene data.csv')

In [3]:
hygiene_df=pd.read_csv(hygiene_path)
hygiene_df.head()

,Series Name,Series Code,Country Name,Country Code,2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022]
0,People with basic handwashing facilities inclu...,SH.STA.HYGN.ZS,Afghanistan,AFG,37.84713186,37.93172009,38.02113959,38.11505004,..,..
1,People with basic handwashing facilities inclu...,SH.STA.HYGN.ZS,Africa Eastern and Southern,AFE,23.4664247663347,23.3765935203934,23.3136141765693,23.2526559493572,..,..
2,People with basic handwashing facilities inclu...,SH.STA.HYGN.ZS,Africa Western and Central,AFW,27.7293784617808,28.2974697356116,28.5644904837316,28.3255179093848,..,..
3,People with basic handwashing facilities inclu...,SH.STA.HYGN.ZS,Albania,ALB,..,..,..,..,..,..
4,People with basic handwashing facilities inclu...,SH.STA.HYGN.ZS,Algeria,DZA,84.25496007,84.38397549,84.50756077,84.62598032,..,..

In [4]:
# Rename the columns
new_columns = {
    '2017 [YR2017]': '2017',
    '2018 [YR2018]': '2018',
    '2019 [YR2019]': '2019',
    '2020 [YR2020]': '2020',
    '2021 [YR2021]': '2021',
    '2022 [YR2022]': '2022'
}
hygiene_df= hygiene_df.rename(columns=new_columns)

In [5]:
hygiene_df.head()

,Series Name,Series Code,Country Name,Country Code,2017,2018,2019,2020,2021,2022
0,People with basic handwashing facilities inclu...,SH.STA.HYGN.ZS,Afghanistan,AFG,37.84713186,37.93172009,38.02113959,38.11505004,..,..
1,People with basic handwashing facilities inclu...,SH.STA.HYGN.ZS,Africa Eastern and Southern,AFE,23.4664247663347,23.3765935203934,23.3136141765693,23.2526559493572,..,..
2,People with basic handwashing facilities inclu...,SH.STA.HYGN.ZS,Africa Western and Central,AFW,27.7293784617808,28.2974697356116,28.5644904837316,28.3255179093848,..,..
3,People with basic handwashing facilities inclu...,SH.STA.HYGN.ZS,Albania,ALB,..,..,..,..,..,..
4,People with basic handwashing facilities inclu...,SH.STA.HYGN.ZS,Algeria,DZA,84.25496007,84.38397549,84.50756077,84.62598032,..,..

In [6]:
# Select specific columns
columns_to_keep = ['Country Code', 'Country Name', '2017', '2018', '2019', '2020', '2021', '2022']
hygiene_df = hygiene_df[columns_to_keep]

# Set 'Country Name' as the index
hygiene_df = hygiene_df.set_index(keys=['Country Code','Country Name',])

# Stack the data
hygiene_df = hygiene_df.stack()

# Convert the stacked data to a DataFrame
hygiene_df = pd.DataFrame(hygiene_df)

# Reset the index to get a default numeric index
hygiene_df = hygiene_df.reset_index()

In [7]:
# Rename the columns

hygiene_df.columns = ['Country Code', 'Country Name',  'Year', 'People With Handwashing Facilities']

In [8]:
hygiene_df.head(10)

,Country Code,Country Name,Year,People With Handwashing Facilities
0,AFG,Afghanistan,2017,37.84713186
1,AFG,Afghanistan,2018,37.93172009
2,AFG,Afghanistan,2019,38.02113959
3,AFG,Afghanistan,2020,38.11505004
4,AFG,Afghanistan,2021,..
5,AFG,Afghanistan,2022,..
6,AFE,Africa Eastern and Southern,2017,23.4664247663347
7,AFE,Africa Eastern and Southern,2018,23.3765935203934
8,AFE,Africa Eastern and Southern,2019,23.3136141765693
9,AFE,Africa Eastern and Southern,2020,23.2526559493572

In [9]:
#Drop missing value
hygiene_df.replace('..', np.nan, inplace=True)
new_hygiene_df =hygiene_df.dropna()
new_hygiene_df.head(15)

,Country Code,Country Name,Year,People With Handwashing Facilities
0,AFG,Afghanistan,2017,37.84713186
1,AFG,Afghanistan,2018,37.93172009
2,AFG,Afghanistan,2019,38.02113959
3,AFG,Afghanistan,2020,38.11505004
6,AFE,Africa Eastern and Southern,2017,23.4664247663347
7,AFE,Africa Eastern and Southern,2018,23.3765935203934
8,AFE,Africa Eastern and Southern,2019,23.3136141765693
9,AFE,Africa Eastern and Southern,2020,23.2526559493572
12,AFW,Africa Western and Central,2017,27.7293784617808
13,AFW,Africa Western and Central,2018,28.2974697356116
14,AFW,Africa Western and Central,2019,28.5644904837316
15,AFW,Africa Western and Central,2020,28.3255179093848
24,DZA,Algeria,2017,84.25496007
25,DZA,Algeria,2018,84.38397549
26,DZA,Algeria,2019,84.50756077

In [10]:
# Write the new data to a CSV file namely: hygiene cleaned
    #save as hygiene cleaned file
newfile_path= path('Resources\hygiene cleaned.csv')
new_hygiene_df.to_csv(newfile_path, index=False)