In [7]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# Read the CSV file into 'pop' DataFrame (to use to calculate per capita rate)
populations = Path("Resources/populations_countries.csv")

populations_df = pd.read_csv(populations, usecols = ['Country Name', 
                                                     'Country Code', 
                                                     '2017 [YR2017]', 
                                                     '2018 [YR2018]',
                                                     '2019 [YR2019]', 
                                                     '2020 [YR2020]',
                                                     '2021 [YR2021]',
                                                     '2022 [YR2022]'])

# Rename Columns
populations_df.rename(columns={'2017 [YR2017]': '2017', \
                              '2018 [YR2018]': '2018', \
                              '2019 [YR2019]': '2019', \
                              '2020 [YR2020]': '2020',
                              '2021 [YR2021]': '2021',
                              '2022 [YR2022]': '2022'}, \
                              inplace=True)

# Change multiple Year Columns to one Column, to match 'influenza_df'
populations_one_column_df = populations_df.melt(id_vars=["Country Name", 'Country Code'], 
                                        var_name="Year", 
                                        value_name="Population")

populations_one_column_df

               Country Name Country Code  Year  Population
0               Afghanistan          AFG  2017    35643418
1                   Albania          ALB  2017     2873457
2                   Algeria          DZA  2017    41136546
3            American Samoa          ASM  2017       49463
4                   Andorra          AND  2017       73837
...                     ...          ...   ...         ...
1297  Virgin Islands (U.S.)          VIR  2022      105413
1298     West Bank and Gaza          PSE  2022     5043612
1299            Yemen, Rep.          YEM  2022    33696614
1300                 Zambia          ZMB  2022    20017675
1301               Zimbabwe          ZWE  2022    16320537

[1302 rows x 4 columns]

In [8]:
# Save the populations_one_column_df DataFrame to a CSV file
populations_one_column_df.to_csv('Resources/populations_one_column.csv', index=False)